include README.md
include CHANGELOG.md
include README.rst
include pyproject.toml
include Cargo.toml
include rust-toolchain.toml
recursive-include src *.rs
recursive-include vtool_ibeis_ext *.py
include vtool_ibeis_ext/py.typed
recursive-include tests *.py
recursive-include .github/workflows *.yml
