include .github/dependabot.yml
include .github/workflows/test_binaries.yml
include .gitignore
include .readthedocs.yml
include CHANGELOG.md
include CMakeLists.txt
include README.rst
include build_wheels.sh
include cppsrc/sver.cpp
include dev/ci_public_gpg_key.pgp.enc
include dev/ci_secret_gpg_subkeys.pgp.enc
include dev/gpg_owner_trust.enc
include dev/public_gpg_key
include dev/secrets_configuration.sh
include dev/setup_secrets.sh
include docs/source/conf.py
include docs/source/index.rst
include publish.sh
include pyproject.toml
include requirements.txt
include requirements/docs.txt
include requirements/graphics.txt
include requirements/headless.txt
include requirements/optional.txt
include requirements/runtime.txt
include requirements/tests.txt
include run_doctests.sh
include run_tests.py
include setup.py
include tests/test_import.py
include vtool_ibeis_ext/__init__.py
exclude MANIFEST.in